doctype html
html(lang='ru')
  include ../components/head
  body.page
    include ..blocks/promo/promo
    main.content
      block content
    include ../components/footer
    if dev
      script(src='assets/js/app.js')
    else
      script(src='js/app.min.js')