section.features.section-set
  h2.features__headline.visually-hidden Характеристики
  .features__content
    .features__image-box
      img(src='assets/img/doctor.png').features__img
    p.features__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis autem placeat iure molestiae quos repudiandae maiores, corporis ipsam odit officia dolore earum dolores quisquam, voluptatem quis assumenda nam iusto quas! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis autem placeat iure molestiae quos repudiandae maiores, corporis ipsam odit officia dolore earum dolores quisquam, voluptatem quis assumenda nam iusto quas!
    ul.features__list
      li.features__li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, quaerat minus quibusdam neque quod expedita inventore tempore praesentium porro nostrum, quia id quos, maxime pariatur quam nesciunt facilis corporis.
      li.features__li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, quaerat minus quibusdam neque quod expedita inventore tempore praesentium porro nostrum, quia id quos, maxime pariatur quam nesciunt facilis corporis.
      li.features__li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, quaerat minus quibusdam neque quod expedita inventore tempore praesentium porro nostrum, quia id quos, maxime pariatur quam nesciunt facilis corporis.
  a(href='#').features__btn.btn.btn--link Заказать