extends ../layouts/main

block head
  - var pageTitle = 'LevelUp'
  - var pageKeywords = 'LevelUp, средство для потенции'
  - var pageDescription = 'LevelUp - средство для потенции'

block content
  include ../blocks/promo/promo
  include ../blocks/composition/composition
  include ../blocks/reviews/reviews
  include ../blocks/features/features
  include ../blocks/order/order