@media all and (min-width: 768px) {
  .order__headline {
    margin-bottom: 40px;
  }
  .order__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  .timer__description {
    font-size: 22px;
    line-height: 32px;
  }
  .timer {
    max-width: 600px;
  }
  .timer__item {
    width: 100px;
    height: 100px;
    font-size: 24px;
    line-height: 34px;
  }
  .order__column {
    width: 45%;

    &:first-child {
      margin-bottom: 0;
    }
  }
  .order__image-box {
    width: 200px;

    &::after {
      width: 100%;
      margin-left: 0;
    }
  }
  .order__price {
    font-size: 16px;
    line-height: 26px;
  }
  .order__price-new {
    font-size: 52px;
    line-height: 62px;
  }
}

@media all and (min-width: 1024px) {
  .order__headline {
    margin-bottom: 60px;
  }
  .order__content {
    max-width: 1024px;
  }
  .order__image-box {
    width: 250px;
  }
}