section.reviews.section-set
  h2.reviews__headline.headline Отзывы наших покупателей
  .reviews__slider-viewbox.viewbox-js
    article.reviews__slide.slide.slide-active-js.slide--active
      .slide__user-image
        img(src='assets/img/doctor.png' width='517' height='580' alt='Доктор').slide__user-img
      h3.slide__user-name Пётр Петрович Петров
      p.slide__user-review Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi. Impedit asperiores repudiandae obcaecati maiores. Temporibus, illum? Mollitia odio quo quos assumenda impedit. Obcaecati debitis repellat esse alias, necessitatibus quaerat!
    article.reviews__slide.slide.slide-js
      .slide__user-image
        img(src='assets/img/prod.png' width='291' height='451' alt='Продукт').slide__user-img
      h3.slide__user-name Пётр Петрович Петров
      p.slide__user-review Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi. Impedit asperiores repudiandae obcaecati maiores. Temporibus, illum? Mollitia odio quo quos assumenda impedit. Obcaecati debitis repellat esse alias, necessitatibus quaerat!
    article.reviews__slide.slide.slide-js
      .slide__user-image
        img(src='assets/img/doctor.png' width='517' height='580' alt='Доктор').slide__user-img
      h3.slide__user-name Пётр Петрович Петров
      p.slide__user-review Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi. Impedit asperiores repudiandae obcaecati maiores. Temporibus, illum? Mollitia odio quo quos assumenda impedit. Obcaecati debitis repellat esse alias, necessitatibus quaerat!
  .reviews__slider-controls
    button(aria-label='К предыдущему отзыву').reviews__slide-btn.reviews__slide-left.slide-left-js
    button(aria-label='К следующему отзыву').reviews__slide-btn.reviews__slide-right.slide-right-js