section.reviews
  h2.reviews__headline Отзывы
  .reviews__slider-viewbox
    .reviews__slider-box
      article.reviews__slide.slide
        .slide__user-image
        h3.slide__user-name Пётр Петрович Петров
        p.slide__user-review Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi. Impedit asperiores repudiandae obcaecati maiores. Temporibus, illum? Mollitia odio quo quos assumenda impedit. Obcaecati debitis repellat esse alias, necessitatibus quaerat!
      article.reviews__slide.slide
        .slide__user-image
        h3.slide__user-name Пётр Петрович Петров
        p.slide__user-review Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi. Impedit asperiores repudiandae obcaecati maiores. Temporibus, illum? Mollitia odio quo quos assumenda impedit. Obcaecati debitis repellat esse alias, necessitatibus quaerat!
      article.reviews__slide.slide
        .slide__user-image
        h3.slide__user-name Пётр Петрович Петров
        p.slide__user-review Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, nisi. Impedit asperiores repudiandae obcaecati maiores. Temporibus, illum? Mollitia odio quo quos assumenda impedit. Obcaecati debitis repellat esse alias, necessitatibus quaerat!