section.composition.section-set
  h2.composition__headline.visually-hidden Состав продукта
  ul.composition__list
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item.composition-item-med
      .composition-item__medicine-img
      span.composition-item__line.composition-item__line1
      span.composition-item__line.composition-item__line2
      span.composition-item__line.composition-item__line3
      span.composition-item__line.composition-item__line4
      span.composition-item__line.composition-item__line5
      span.composition-item__line.composition-item__line6
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
  a(href='#order').composition__btn.btn.btn--link.buy-js Заказать