section.composition
  h2.composition__headline Состав продукта
  ul.composition__list
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__medicine-img
      span.composition-item__line.composition-line1
      span.composition-item__line.composition-line2
      span.composition-item__line.composition-line3
      span.composition-item__line.composition-line4
      span.composition-item__line.composition-line5
      span.composition-item__line.composition-line6
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент
    li.composition__item.composition-item
      .composition-item__img
      p.composition-item__description Элемент