header.promo.section-set
  video(src="assets/img/video.mp4" autoplay loop playsinline muted).promo__bg
  h1.promo__headline.headline Продукт для повышения потенции 
    span.promo__headline-span “LevelUp”
  .promo__content
    .promo__image-box
      img(src='assets/img/prod.png').promo__img
    .promo__description
      ul.promo__list
        li.promo__li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, quaerat minus quibusdam neque quod expedita inventore tempore praesentium porro nostrum, quia id quos, maxime pariatur quam nesciunt facilis corporis.
        li.promo__li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, quaerat minus quibusdam neque quod expedita inventore tempore praesentium porro nostrum, quia id quos, maxime pariatur quam nesciunt facilis corporis.
        li.promo__li Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam iste, quaerat minus quibusdam neque quod expedita inventore tempore praesentium porro nostrum, quia id quos, maxime pariatur quam nesciunt facilis corporis.
      a(href='#').promo__btn.btn.btn--link Заказать
